@import '@/scss/palette.scss';

// Base
body {
    margin: 0;
    color: $t-fg;
    background-color: $dark-gray;
    font-family: 'Inter', 'system-ui', sans-serif;
}

* {
    box-sizing: content-box;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: $t-active;
}

h1 {
    font-size: $f-u8;
}

// Utils
// text align
.tac {
    text-align: center;
}

.tal {
    text-align: left;
}

.tar {
    text-align: right;
}

// wrapper
.wrapper {
    max-width: 80em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
}

.wrapper__readable {
    max-width: 50em;
}
