---
import FormattedDate from '../components/FormattedDate.astro';

type Props = {
    released?: boolean;
    pubDate: Date | undefined;
}

const {pubDate, released} = Astro.props;
---

{pubDate &&
    <p class="pub-date"><i>{released ? 'Released' : 'Published'} on <FormattedDate date={pubDate} /></i></p>
}