---
// A wrapper around Vercel's <SpeedInsights/> component, to stop it from taking up space on the page cause why the fuck does it take up space on the page come on vercel
import SpeedInsights from '@vercel/speed-insights/astro';
---

<div>
	<SpeedInsights />
</div>

<style>
	div {
		display: none;
	}
</style>
