.projects {
  display: inline-grid;
  gap: 1rem;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100%;

  width: 100%;
}

.projectImage {
  background-color: red;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  list-style-type: none;
  // margin: 0;
  padding: 0;

  // display: grid;

  // gap: 50px;
  // grid: 300px / auto auto auto;
  // display: flex;
}

.entry {
  // width: calc(50% - 1rem);

  // .link .image {
  // 	width: calc(50% - 1rem);
  // }

  * {
    text-decoration: none;
    transition: 0.2s ease;
  }
}

.featured {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 720px) {
  .list {
    gap: 0.5em;
  }

  .entry {
    width: 100%;
    text-align: center;

    &:first-child {
      margin-bottom: 0;

      // .title {
      //   font-size: 1.563em;
      // }
    }
  }
}
