@use "$/styles/transitions";

.link {
  margin: 0.5rem;

  img {
    width: 2.5rem;
    height: 2.5rem;
    // Original #282a2c
    background-color: #d7d5d3;
    border-radius: 5px;
    box-shadow: inset 0px 0px 2px lighten(#d7d5d3, 10%);
    padding: 0.2rem;
    filter: invert(1);
    @include transitions.springy-transform(500ms);

    &:hover {
      transform: scale(1.2);
    }
  }
}

.linksContainer {
  display: flex;
}
