.heroImage {
  width: 100%;
}
.heroImage img {
  display: block;
  margin: 0 auto;
  border-radius: 12px;
  box-shadow: var(--box-shadow);
}

.prose {
  width: 720px;
  max-width: calc(100% - 2em);
  margin: auto;
  padding: 1em;
  color: rgb(var(--gray-dark));
}

.title h1 {
  margin: 0 0 0.5em 0;
}

.date {
  margin-bottom: 0.5em;
  color: rgb(var(--gray));
}

.lastUpdatedOn {
  font-style: italic;
}

.linksContainer {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}
