.link {
  display: inline-block;
  text-decoration: none;
  padding: 0.5rem;

  &.active {
    font-weight: bolder;
    text-decoration: underline;
  }

  @media (max-width: 500px) {
    @media (orientation: portrait) {
      font-size: 3vw;
    }
  }
}
