@import '@/styles/palette.scss';

.nav {
  background-color: lighten($dark-gray, 10%);
  display: flex;
  align-items: center;
  padding-top: 1rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
}

.logolink {
  display: block;
  color: $t-fg;
  text-decoration: none;
}

/* .link {
		color: $t-subdue;
		display: block;
		margin-left: 1rem;
		text-decoration: none;
		font-size: $f-d1;
		text-transform: uppercase;
		padding-top: 0.75em;
		padding-bottom: 0.75em;
		&:focus,
		&:hover {
			color: $t-active;
		}
	} */

.monogram {
  transform: scale(1);

  filter: invert(1);

  transition: transform 100ms ease-in-out, filter 100ms ease-in-out;

  &:focus,
  &:hover {
    transform: scale(1.25);
  }

  background-color: #e40303;
  animation: bgColour 5s infinite linear;
  border-radius: 50%;
}

@keyframes bgColour {
  0% {
    background-color: #e40303;
  }

  12% {
    background-color: #ff8c00;
  }

  25% {
    background-color: #ffed00;
  }

  37% {
    background-color: #008026;
  }

  50% {
    background-color: #24408e;
  }

  62% {
    background-color: #732982;
  }

  75% {
    background-color: #ffafc8;
  }

  87% {
    background-color: #74d7ee;
  }
}

.social {
  display: block;
  margin-left: auto;

  @media (prefers-reduced-motion: no-preference) {
    transition: transform 100ms ease-in-out;
  }

  &:hover {
    transform: scale(1.5);
  }

  +.social {
    margin-left: 0.75rem;
  }
}