@use "sass:color";
@use "../../styles/transitions";
@use "../../styles/palette" as *;
@use "../../styles/mixins";

.link {
  text-decoration: none;
  position: relative;
  font-weight: 900;
  color: $t-bg;
  background-color: $t-fg;
  padding: 0.25em;
  z-index: 2;
  border-radius: 0.25rem;

  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: $w-s) {
    font-size: $f-u3;
  }

  + .link {
    margin-left: 0.5em;
  }

  @media (prefers-reduced-motion: no-preference) {
    $duration: 100ms;
    $easing: ease-in-out;

    transition:
      box-shadow $duration $easing,
      background-color $duration $easing,
      transform $duration $easing;
  }

  color: $t-fg;

  img {
    filter: invert(1);
  }

  box-shadow: 0px 0px 5px #000;

  &:nth-of-type(1) {
    @include mixins.button-colours($black);
  }

  &:nth-of-type(2) {
    @include mixins.button-colours($purple);
  }

  &:nth-of-type(3) {
    @include mixins.button-colours($blue);
  }

  &:nth-of-type(4) {
    @include mixins.button-colours($green);
  }

  &:nth-of-type(5) {
    @include mixins.button-colours(color.adjust($orange, $lightness: -10%));
  }

  &.disabled {
    box-shadow: 0px 0px 5px #000 inset;
    background-color: color.adjust($gray, $lightness: -40%);
  }
}
