@use "sass:color";
@use "../../styles/transitions";
@use "../../styles/palette" as *;
@use "../../styles/mixins";

@mixin glassmorphism-css-var($border-radius: 16px) {
  $blur: 6px;

  /* From https://css.glass */
  background: rgba(var(--button-color), 0.2);
  border-radius: $border-radius;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur($blur);
  -webkit-backdrop-filter: blur($blur);
  border: 1px solid rgba(255, 255, 255, 0.29);
}

@mixin button-colours-css-var() {
  background-color: var(--button-color);

  border: 1px solid rgba(255, 255, 255, 0.29);

  &:not(.disabled):hover {
    @include glassmorphism-css-var(0.25rem);
    transform: scale(1.2);

    // transform: scale(1.2);

    /* From https://css.glass */
    // background: rgba($color, 0.7);
    // border-color: transparent;
    // box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.29);
    // backdrop-filter: blur(5.8px);
    // -webkit-backdrop-filter: blur(5.8px);
    // border: 1px solid rgba(255, 255, 255, 0.29);

    // transform: rotate(-10deg);
    // background-color: lighten($color, 10%);

    // $from-color: lighten($color, 20%);
    // $to-color: $color;
    // background: $to-color;
    // background: linear-gradient(190deg, $from-color 0%, $to-color 93%);

    // background: linear-gradient(180deg, $from-color 0%, $to-color 50%, $from-color 100%);
    // background: radial-gradient(circle, $to-color 0%, $from-color 100%);
  }
}

.link {
  text-decoration: none;
  position: relative;
  font-weight: 900;
  color: $t-bg;
  background-color: $t-fg;
  padding: 0.25em;
  z-index: 2;
  border-radius: 0.25rem;

  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: $w-s) {
    font-size: $f-u3;
  }

  + .link {
    margin-left: 0.5em;
  }

  @media (prefers-reduced-motion: no-preference) {
    $duration: 100ms;
    $easing: ease-in-out;

    transition:
      box-shadow $duration $easing,
      background-color $duration $easing,
      transform $duration $easing;
  }

  color: $t-fg;

  img {
    filter: invert(1);
  }

  box-shadow: 0px 0px 5px #000;

  &:nth-of-type(1) {
    --button-color: #{$blue};
    @include button-colours-css-var();
  }

  &:nth-of-type(2) {
    @include button-colours-css-var();
  }

  &:nth-of-type(3) {
    @include button-colours-css-var();
  }

  &:nth-of-type(4) {
    @include button-colours-css-var();
  }

  &:nth-of-type(5) {
    @include button-colours-css-var();
  }

  &.disabled {
    box-shadow: 0px 0px 5px #000 inset;
    background-color: color.adjust($gray, $lightness: -40%);
  }
}
