---
import { createHash } from 'node:crypto';
import { LoremIpsum } from 'lorem-ipsum';

import MainHead from '../components/MainHead.astro';
import Nav from '../components/Nav.vue';

const lorem = new LoremIpsum({
  sentencesPerParagraph: {
    max: 8,
    min: 4
  },
  wordsPerSentence: {
    max: 16,
    min: 4
  }
});

const text = lorem.generateParagraphs(1);

let hash_value: string = "";

const hash = createHash('sha256');

hash.on('readable', () => {
  // Only one element is going to be produced by the
  // hash stream.
  const data = hash.read();
  if (data) {
    hash_value = data.toString('hex');
  }
});

hash.write(text);
hash.end();
---

<html lang="en">

<head>
  <MainHead title="About | Juliette Cordor" description="About Juliette Cordor" />
  <style lang="scss">
    .heroImg {
      max-height: 24rem;
      object-fit: cover;
      overflow: hidden;

      img {
        width: 100%;
      }
    }

    .bio {
      font-size: 1.5rem;
      line-height: 2;
    }
  </style>
</head>

<body>
  <Nav />
  <div class="wrapper">
    <h1>About page coming soon!</h1>
    <div class="heroImg">
      <img width="1400" height="350"
        src="https://images.unsplash.com/photo-1581977012607-4091712d36f9?auto=format&fit=crop&w=1400&h=350&q=75" />
    </div>
    <div class="bio wrapper wrapper__readable mt8">
      <p>
        { text }
      </p>
      <code>{ hash_value }</code>
    </div>
  </div>
</body>

</html>