---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Stars from '../components/Stars.svelte';
import SpeedInsights from '@vercel/speed-insights/astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
// TODO: A better solution than this
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<!-- <img src={Stars.src} class="stars" /> -->
		<Stars client:load />
		<Header title={SITE_TITLE} />
		<main class="hero">
			<div class="overlay">
				<h1 class="title">🧑‍🚀Hello, Traveller!</h1>
				<p>
					My name is <span class="name">Juliette</span>, and you have landed on my <span
						class="silly">silly little site</span
					>&trade;.
				</p>
				<p>
					Feel free to check out <a href="/projects">some of my best projects</a>, or return to the <a
						href="https://www.google.com">ever-expansive web</a
					>.
				</p>
			</div>
		</main>
		<!-- <Footer /> -->
		<style lang="scss">
			@use '../styles/palette' as *;

			$w-s: 750px;

			body {
				display: grid;
				height: 100vh;
			}

			p {
				font-size: 1.3rem;
				line-height: 0.2;
			}

			.stars {
				position: fixed;
				z-index: -1;

				width: 100vw;
				height: 100vh;

				user-select: none;
			}

			.silly {
				color: $yellow-orange;
			}

			.name {
				color: $cambridge-blue;
			}

			.pronouns {
				color: $cambridge-blue;
				display: block;
				font-weight: 400;
				font-size: $f-d6;
				letter-spacing: -0.0625em;
			}

			.soon {
				font-size: 1rem;
				color: gray;
				font-weight: 500;
			}

			.hero {
				position: relative;
				overflow: hidden;
				padding: 1rem;

				align-self: center;
			}

			.overlay {
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: 10;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: center;
				@media (min-width: $w-s) {
					padding-left: 4rem;
				}

				p {
					line-height: 2rem;
					word-wrap: break-word;
				}
			}

			.title {
				font-weight: 900;
				font-size: $f-u6;
				margin-bottom: 1rem;
				margin-top: 0;

				@media (min-width: 1024px) {
					font-size: $f-u12;
				}
			}
		</style>
	</body>
</html>
