@import "tailwindcss";

@plugin "daisyui" {
  /* themes:
    cupcake --default,
    luxury --prefersdark; */
}

@plugin "daisyui/theme" {
  name: "juliette";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(97% 0.021 166.113);
  --color-base-200: oklch(95% 0.052 163.051);
  --color-base-300: oklch(90% 0.093 164.15);
  --color-base-content: oklch(37% 0.077 168.94);
  --color-primary: oklch(62% 0.194 149.214);
  --color-primary-content: oklch(26% 0.065 152.934);
  --color-secondary: oklch(85% 0.138 181.071);
  --color-secondary-content: oklch(14% 0.005 285.823);
  --color-accent: oklch(79% 0.209 151.711);
  --color-accent-content: oklch(13% 0.028 261.692);
  --color-neutral: oklch(43% 0.095 166.913);
  --color-neutral-content: oklch(97% 0.021 166.113);
  --color-info: oklch(71% 0.143 215.221);
  --color-info-content: oklch(98% 0.019 200.873);
  --color-success: oklch(72% 0.219 149.579);
  --color-success-content: oklch(98% 0.018 155.826);
  --color-warning: oklch(79% 0.184 86.047);
  --color-warning-content: oklch(98% 0.026 102.212);
  --color-error: oklch(64% 0.246 16.439);
  --color-error-content: oklch(96% 0.015 12.422);
  --radius-selector: 2rem;
  --radius-field: 2rem;
  --radius-box: 2rem;
  --size-selector: 0.28125rem;
  --size-field: 0.28125rem;
  --border: 2px;
  --depth: 1;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "romeo";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(14% 0 0);
  --color-base-200: oklch(20% 0 0);
  --color-base-300: oklch(26% 0 0);
  --color-base-content: oklch(69% 0.17 162.48);
  --color-primary: oklch(62% 0.194 149.214);
  --color-primary-content: oklch(26% 0.065 152.934);
  --color-secondary: oklch(85% 0.138 181.071);
  --color-secondary-content: oklch(14% 0.005 285.823);
  --color-accent: oklch(79% 0.209 151.711);
  --color-accent-content: oklch(13% 0.028 261.692);
  --color-neutral: oklch(43% 0.095 166.913);
  --color-neutral-content: oklch(97% 0.021 166.113);
  --color-info: oklch(71% 0.143 215.221);
  --color-info-content: oklch(98% 0.019 200.873);
  --color-success: oklch(72% 0.219 149.579);
  --color-success-content: oklch(98% 0.018 155.826);
  --color-warning: oklch(79% 0.184 86.047);
  --color-warning-content: oklch(98% 0.026 102.212);
  --color-error: oklch(64% 0.246 16.439);
  --color-error-content: oklch(96% 0.015 12.422);
  --radius-selector: 2rem;
  --radius-field: 2rem;
  --radius-box: 2rem;
  --size-selector: 0.28125rem;
  --size-field: 0.28125rem;
  --border: 2px;
  --depth: 1;
  --noise: 0;
}

@plugin "@tailwindcss/typography";

@layer components {
  .progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    z-index: 100;
    background-color: skyblue;
  }

  .btn-github {
    --btn-color: var(--color-github);
    --btn-fg: var(--color-github-content);
  }

  .btn-twitch {
    --btn-color: var(--color-twitch);
    --btn-fg: var(--color-twitch-content);
  }

  .btn-bluesky {
    --btn-color: var(--color-bluesky);
    --btn-fg: var(--color-bluesky-content);
  }

  .btn-linktree {
    --btn-color: var(--color-linktree);
    --btn-fg: var(--color-linktree-content);
  }

  .btn-rss {
    --btn-color: var(--color-rss);
    --btn-fg: var(--color-rss-content);
  }
}

@theme {
  --color-github: #ff507a;
  --color-github-content: oklch(88.34% 0.019 251.473);

  --color-twitch: #9146ff;
  --color-twitch-content: oklch(15.496% 0.023 81.519);

  --color-twitter: #1da1f2;

  --color-bluesky: #1083fe;
  --color-bluesky-content: oklch(88.34% 0.019 251.473);

  --color-linktree: #537e49;
  --color-linktree-content: oklch(13.454% 0.033 35.791);

  --color-rss: #ff8f70;
  --color-rss-content: oklch(12.523% 0.028 240.033);

  --color-green-terminal-50: #e7ffe4;
  --color-green-terminal-100: #c9ffc4;
  --color-green-terminal-200: #98ff90;
  --color-green-terminal-300: #56ff50;
  --color-green-terminal-400: #00ff00;
  --color-green-terminal-500: #00e606;
  --color-green-terminal-600: #00b809;
  --color-green-terminal-700: #008b07;
  --color-green-terminal-800: #076d0d;
  --color-green-terminal-900: #0b5c11;
  --color-green-terminal-950: #003406;
}
