@use "../styles/mixins";
@use "../styles/palette" as *;

null.$w-s: 750px;

.stars {
  position: fixed;
  z-index: -1;

  width: 100vw;
  height: 100vh;

  user-select: none;
}

.silly {
  color: $yellow-orange;
}

.name {
  color: $cambridge-blue;
}

.pronouns {
  color: $cambridge-blue;
  display: block;
  font-weight: 400;
  font-size: $f-d6;
  letter-spacing: -0.0625em;
}

.soon {
  font-size: 1rem;
  color: gray;
  font-weight: 500;
}

.overlay {
  padding: 1rem;

  p {
    line-height: 2rem;
    word-wrap: normal;
  }

  @include mixins.glassmorphism();
}

.title {
  font-weight: 900;
  font-size: $f-u6;
  margin-bottom: 1rem;
  margin-top: 0;

  @media (min-width: 1024px) {
    font-size: $f-u12;
  }

  img {
    width: 1em;
    height: 1em;
  }
}

.aboutProse {
  margin-top: 1rem;
  ul {
    transform: translateX(1.5em);
  }
}
