---
type Props = {
    enabled?: boolean;
    href?: string;
    // new_tab: boolean;
    src: string;
    alt: string;
    class?: string;
}

const {enabled , href, src, alt} = Astro.props;

---
{(enabled || true) &&
<a {href} target="_blank" rel="noopener noreferrer" class={Astro.props.class}>
    <img {src} {alt} />
</a>
}