---
type Props = {
	enabled?: boolean;
	href?: string;
	// new_tab: boolean;
	src: string;
	alt: string;
	class?: string;
};

const { enabled, href, src, alt } = Astro.props;
---

{
	(enabled || true) && (
		<a {href} target="_blank" rel="noopener noreferrer" class:list={[Astro.props.class, 'shield']}>
			<img {src} {alt} />
		</a>
	)
}

<style>
	.shield {
		display: inline-block;
		margin-right: 0.5rem;
	}
</style>
