.container {
  position: fixed;
}

.hamburger {
  margin-left: 1rem;
  margin-top: 1rem;

  color: white;
  font-size: 2rem;

  transition: transform 100ms ease-in-out;

  &:hover {
    cursor: pointer;
    transform: scale(1.2);
  }
}
