.image {
  margin-bottom: 0.5rem;
  border-radius: 12px;
}

.link {
  display: block;
  position: relative;
  padding: 0.5rem;

  &:hover {
    h4,
    .date {
      color: rgb(var(--accent));
    }
  }
}

.date {
  margin: 0;
  color: rgb(var(--gray));
}
