.title {
  font-size: 2.369rem;
  margin: 0;
  color: rgb(var(--black));
  line-height: 1;
}

.image {
  margin-bottom: 0.5rem;
  border-radius: 12px;
}

.link {
  display: block;
  position: relative;
  padding: 0.5rem;

  &:hover {
    h4,
    .date {
      color: rgb(var(--accent));
    }

    .image {
      box-shadow: var(--box-shadow);
    }
  }
}

.date {
  margin: 0;
  color: rgb(var(--gray));
}
